/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bgColor, $txtColor, $display) {
    background-color: $bgColor;
    color: $txtColor;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: $separacion/2;
    display: $display;
    border: none;

    &:hover{
        // background-color: darken($bgColor, 5);
        cursor: pointer;
        background-color: #da5151;
    }
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
}

@mixin subrayado($top) {
    position: absolute;
    content: '';
    width: 10rem;
    height: .5rem;
    left: 0;
    right: 0;
    margin: auto;
    // top: 30vh;
    top: $top;
    background-color: #0fa59d;
    margin-top: 1rem;
}
@mixin title {
    text-align: center;
    font-weight: $regular;
    position: relative;
    // margin-top: 10vh;
    padding-top: 25vh;
}