#about-title{
    text-align: center;
    font-weight: $regular;
    &::before{
        content: '';
        position: absolute;
        top: 5rem;
        right: 63.5rem;
        width: 17rem;
        height: .5rem;
        background-color: #0fa59d;
        margin-top: 1rem;
    }
}
.about-me{
    margin: 0 15vw;
    position: relative;
    .about-content{
        margin-top: 8rem;
        @include grid(2, 2rem);       
        .img-about{
            width: 30vw;
            height: 48vh;
            object-fit: contain;
        }
        .about-text{
            h2{
                font-weight: $bold;
            }
            p{
                font-weight: $delgada;
                width: 90%;
            }
            .boton-about{
                @include boton(#0fa59d, $gris, inline-block);
                text-transform: uppercase;
                margin-bottom: $separacion;
            }
        }    
    }
}

