.skills-content{
    @include grid(2, 2rem);
    // margin: 0 15vw;

    .image-programming{
        // width: 40vw;
        // max-height: 10vh;
        // margin-right: 0;
        // width: 40vw;
        // width: 80%;
        border-radius: 6px;
        height: 35vh;
        // background-position: center;
        object-fit: cover;
    }
    .skills-subtitle{
        font-weight: $bold;
        color: rgb(17, 119, 235);
        margin-bottom: 0;
    } 
    .technologies{
        span{
            font-weight: $regular;
            font-size: 2rem;
            padding: 1rem;
            background-color: rgba(240, 240, 240, 0.5);
            border-radius: 15%;
            text-align: center; 
            display: inline-block; 
            margin-top: 1.5rem;    
        }
        .development-content{
            max-width: 80%;
        }
    }
}

.skills-title{
    @include title;
    &::before{
        @include subrayado(46.5vw, 6vw);
    }
}
