.skills-content{
    @include grid(2, 2rem);
    margin: 0 15vw;
    margin-top: 8rem;
}
.image-programming{
    // width: 40vw;
    // max-height: 10vh;
    width: 35vw;
    height: 40vh;
    background-position: center;
    object-fit: contain;
}
/* ===== SKILLS =====*/
.skills{
    
}

.skills-title{
    text-align: center;
    font-weight: $regular;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 5rem;
        // right: 96rem;
        // width: 15rem;
        right: 46.5vw;
        width: 6vw;
        height: .5rem;
        background-color: #0fa59d;
        margin-top: 1rem;
    }
}

.skills-subtitle{
    font-weight: $bold;
    color: rgb(17, 119, 235);
    
}
.technologies{
    span{
        font-weight: $regular;
        font-size: 2rem;
        padding: 1rem;
        background-color: rgba(240, 240, 240, 0.5);
        border-radius: 15%;
        text-align: center;       
    }
    .databases{
        margin-top: 5rem;
    }
}